.banner {
  background-color: #1A41BF;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  h1{
    color: #FFAD42;
    text-align: center;
    font-size: 48px;
  }
}

.banner-text {
    color: "#e6ba6f";
    text-align: "center"
  }

.main-blog-list {
  padding: 2rem 2rem;
  margin-bottom: 6rem;
  margin-top: 0;
}

.latest-blogs {
  margin-top: 4rem;
  margin-bottom: 2rem;

  h5 {
  font-size: 24px;
  font-weight: 700;
  color: #2754e7;
  }
}

.blog-list {
  list-style-type: none;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;

  h2 {
    color: #000000;
    font-size: 1.2em;
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: .8em;
    margin: 0.5em 0;
  }
}

.about-section {
  background-color: #1A41BF;
  padding: 8rem 0 5rem 0;
}

.about-content {
  max-width: 30.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

.about-content::first-letter {
  color: #FFAD42;
  font-weight: bold;
  margin: 4px 2px 8px 0;
  float: left;
  font-size: 100px;
  line-height: 35px;
  padding-top: 16px;
  padding-right: 8px;
}

.white-card{
  background-color: #ffffff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.white-content {
  width: 30rem;
  text-align: center;
  margin: 0 auto;

  h2{
    padding: 4rem 0 1.5rem 0;
    color: #2754e7;
    font-size: 2.5rem;
  }


}

.app-button{
  margin: 2rem auto 5rem;
  background-color: transparent;
  color: #1a41bf;
  padding: 14px;
  border: 2px solid;
  width: 145px;

  a {
    text-decoration: none;
    font-size: 1rem;
    color: #1a41bf;
    font-weight: 500;
  }
  }

.social-section {
  // margin: 0 auto;
  padding-left: 250px;
  padding-top: 80px;

  h1 {
    color: #cad0e7;
    margin-bottom: 2rem;

  }
}

  .social-button {
    margin-right: 0.4rem;
    border-radius: 8px;
    color: #656565;
    font-weight: 300;
    font-size: 14px;
}

.footer {
    background-color: #ffffff;
    height: 100vh;
    margin: 2rem 2rem;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #dedfdf;
    padding-bottom: 2rem;

    a {
      color: #FFAD42;
      padding-left: 0;
      align-items: center;
  }
}

.footer-socials {
    display: flex;
    list-style: none;
    align-items: center;

    // a {
    //   color: #ffffff;
    //   background-color: #FFAD42;
    // }


  a {
    color: #ffffff;
    background: #FFAD42;
    align-items: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  transition: all .1s ease-in-out;

    &:hover {
      color: #ffffff;
      // transform: scale(2) perspective(1rem)
      // transition: all 1s ease;
      transform: scale(1.1);
    }
  }

  &:hover {
  }
  }
