.banner-heading {
  color: var(--yellow);
  text-align: center;
  font-size: 48px;
  margin: 2rem auto;
}

.main-blog-list {
  padding: 2rem 2rem;
  background-color: var(--white);
}

.latest-blogs {
  margin: 2rem 0 2rem 0;

  h5 {
    font-size: 24px;
    font-weight: 700;
    color: #2754e7;
  }
}

.blog-list {
  list-style-type: none;
  display: grid;
  grid-gap: 28px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;

  h2 {
    color: #000000;
    font-size: 1.2em;
    margin-top: 0.5rem;
  }

  p {
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}

.about-section {
  color: var(--white);
  background-color: var(--blue);
  padding-top: 3rem;
}

.divider {
  position: relative;
  height: 1px;
  padding: 0 0 2rem 0;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(197, 207, 226),
    transparent
  );
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

.about-content {
  max-width: 30.5rem;
  margin: 0 auto;
}

.about-content::first-letter {
  color: var(--yellow);
  font-weight: bold;
  margin: 4px 2px 8px 0;
  float: left;
  font-size: 100px;
  line-height: 35px;
  padding-top: 16px;
  padding-right: 8px;
}

.white-card {
  background-color: var(--white);
  margin: 2rem 2rem;
  padding: 2rem;
}

.white-content {
  text-align: center;
  margin: 0 auto;

  h2 {
    padding: 1rem 0;
    color: #2754e7;
    font-size: 2.5rem;
  }

  p {
    color: #000000;
  }
}

.app-button {
  margin: 2rem auto;
  border: 2px solid var(--blue);
  padding: 1rem;
  text-transform: uppercase;
  transition: 200ms ease-in-out;
  max-width: 10rem;

  a {
    background-color: transparent;
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
  }
  &:hover {
    color: var(--yellow);
  }
}

.footer {
  background-color: var(--white);
  padding: 2rem 2rem 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;

  a {
    color: var(--yellow);
    padding-left: 0;
    align-items: center;
    font-weight: 700;
    font-size: larger;
  }
}

.footer-socials {
  display: flex;
  list-style: none;
  align-items: center;

  a {
    color: var(--white);
    background: var(--yellow);
    transition: all 0.1s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 4px;

    &:hover {
      color: var(--white);
      transform: scale(1.1);
    }
  }
}

.footer-recent-posts {
  list-style: none;
  border-bottom: 0.1rem solid #dedfdf;
  padding-bottom: 4rem;

  h2 {
    margin: 2rem 0 1.8rem 0;
    font-size: 40px;
  }
}
.recent-list {
  color: var(--yellow);
  line-height: 2.5;
  display: inline-block;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  p {
    font-weight: 700;
    margin: 0;
  }
  span {
    color: #6d6d6d;
    cursor: pointer;
  }
}
