.feature-header {
  background-color: var(--white);
  padding: 4rem 0;
  text-align: center;
  font-weight: 800;
  font-size: 3.5rem;
}

.feature-intro {
  text-align: left;
  margin: 4rem auto;
  color: var(--yellow);
  max-width: 32rem;
  font-size: 1.5rem;
  line-height: 1.4;
}

.feature-app-button {
  margin: 2rem auto 2rem;
  background-color: var(--yellow);
  color: var(--yellow);
  padding: 14px;
  border: 2px solid;
  width: 145px;
  text-align: center;

  a {
    color: var(--white);
    font-weight: 500;
  }
}

.feature-infos {
  padding: 0 2rem 0 2rem;
}

.feature-info {
  display: flex;
  margin-bottom: 2rem;
}

.left-items {
  color: var(--yellow);
  font-size: 12px;
  flex-basis: 33.33%;
}

.right-items {
  flex-basis: 66.66%;
  margin-left: 2rem;
  color: var(--white);
  font-size: 16px;
}
